@import "tailwindcss";

:root {
  --color-primary: #C16B3E;
  --color-secondary: #874B2C;
  --color-accent: #22c55e;
  --color-danger: #ef4444;
  --color-warning: #f59e0b;
  --color-text: #4B4E4B;
  --color-card: #FDF9F7;

  --background: #ffffff;
  --foreground: #171717;
  --color-muted: #6b7280;
  --color-border: #e5e7eb;

  --font-sans: "Inter", "Geist", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  --font-mono: "Fira Code", "Geist Mono", monospace;

  --font-light: 300;
  --font-regular: 400;
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;
  --font-extrabold: 800;

}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
    --color-muted: #9ca3af;
    --color-border: #1f2933;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-accent: var(--color-accent);
  --color-danger: var(--color-danger);
  --color-warning: var(--color-warning);
  --color-muted: var(--color-muted);
  --color-border: var(--color-border);
  --color-text: var(--color-text);
  --color-card: var(--color-card);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);

  --font-light: var(--font-light);
  --font-regular: var(--font-regular);
  --font-medium: var(--font-medium);
  --font-semibold: var(--font-semibold);
  --font-bold: var(--font-bold);
  --font-extrabold: var(--font-extrabold);

}

.font-light {
  font-weight: var(--font-light);
}

.font-regular {
  font-weight: var(--font-regular);
}

.font-medium {
  font-weight: var(--font-medium);
}

.font-semibold {
  font-weight: var(--font-semibold);
}

.font-bold {
  font-weight: var(--font-bold);
}

.font-extrabold {
  font-weight: var(--font-extrabold);
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
